<a
  href="{{privacyUrl}}"
  target="_blank"
  style="
  font-family: Georgia;
  color: rgb(150,150,150);
  font-size: 18px;
  letter-spacing: 2px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
    ">{{s.privacy}}</a>
